#sidebar {
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    min-width: 400px;
    background-color: #071000;
    min-height: 100vh;
    font-size: 15px;
}

#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #293a42;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */

#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
}

/* level 2*/

#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/

#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }

    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar {
        width: 0px;
    }

    #sidebar,
    #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display: none;
    }
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.classname:hover ~ .classname {
    background-color: yellow;
}

.carousel-item.active,
.carousel-item.active + .carousel-item,
.carousel-item.active + .carousel-item + .carousel-item {
    width: 33.3%;
    display: block;
    float: left;
}

/*feedback messages*/

.panel {
    margin-bottom: 0px;
    box-shadow: 10px 15px 15px grey;
    border: 1px solid #807d7d;
}


.chat-window {
    bottom: 0;
    position: fixed;
    right: 50px;
    float: right;
    margin-left: 10px;
}

.chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #bfbfbf;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 300px;
    overflow-x: hidden;

}

.top-bar {
    background: #4f5862;
    font-size: 20px;
    color: #fffbfb;
    padding: 3px;
    position: relative;
    /*    overflow: hidden;*/
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}



.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}



.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*fabric modal*/

#modal-fabric::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*	border-radius: 10px;*/
    background-color: #F5F5F5;
}

#modal-fabric::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#modal-fabric::-webkit-scrollbar-thumb {
    /*	border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c3c3c3;
}

/*accoutns table*/

#accountsTablec::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*	border-radius: 10px;*/
    background-color: #F5F5F5;
}

#accountsTable::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#accountsTable::-webkit-scrollbar-thumb {
    /*	border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c3c3c3;
}



/*divs sa dashboard yung may counters*/

.counter {
    box-shadow: 10px 5px 15px grey;
}

.filter {
    box-shadow: 5px 5px 15px #c1c1c1;
}

.filter_inset {
    box-shadow: inset 5px 5px 15px #1751f0;
}

.filter_inset_green {
    box-shadow: inset 5px 5px 15px #1a8596;
}

.a {
    cursor: pointer;
}

.popover-body {
    padding: 14px;
    overflow-y: auto;
    max-height: 250px;
    box-shadow: 5px 5px 15px #c1c1c1;

}

/*button upload fabric*/

.showonhover {
    background: #0679ff;
    padding: 20px;
    opacity: 0.9;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}

label:before {
    /*  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");*/
    position: absolute;
    z-index: 100;

    height: 25px;

}

:checked + label:before {
    content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
    background-color: white;

}

input[type=checkbox] {
    display: none;

}

.gallery {
    box-shadow: 5px 5px 10px #c1c1c1;
    cursor: pointer;
}

.gallery:hover {
    opacity: 0.5;
}

.btn-secondary:hover ~ .fa-circle {
    background-color: rgba(108, 117, 125, 0.5);

}

.uploadBtn {
    position: relative;
    left: 26%;

}

.modalView {
    box-shadow: 15px 15px 15px #c1c1c1;
}

.modalViewNear {
    box-shadow: 10px 5px 15px #c1c1c1;
}

.fa-minus-square {
    cursor: pointer;
}
